<!-- Include the header partial -->
<%- include("partials/header.ejs") %>

<!-- Task Entry Box -->
<div class="taskEntry">
    <h1 class="title2">Task Entry</h1>
    <!-- Form for task input -->
    <form action="/submitTask" method="POST">
        <!-- Input field for task -->
        <input type="text" name="task" placeholder="Task" required />
        <!-- Input field for the complete by -->
        <input type="text" name="startTime" placeholder="Start Time" />
        <!-- Input field for the complete by -->
        <input type="text" name="completeTime" placeholder="Complete Time" />
        <!-- Submit/Add To List button -->
        <input class="addTask" type="submit" value="Add To List" />
    </form>
</div>
<h1>test</h1>
<!-- Task/Reward List Section -->
<div class="listTitles">
    <span><h1 class="title3">What Do I Need To Do...</h1></span>
    <span><h1 class="title3">... What Is My Reward</h1></span>
</div>

<div class="taskList">
    <!-- Check if task is not empty and available in locals to display -->
    <% if (locals.tasks && locals.tasks.length > 0) { %> <%
    locals.tasks.forEach(task => { %>
    <div class="strikethrough-text">
        <h2>
            ▷ <%= task.task %>: <%= task.startTime %> - <%= task.completeTime %>
        </h2>
    </div>
    <% }) %>

    <!-- clear task list button -->
    <form action="/clearTask" method="POST">
        <button type="submit">Clear All Tasks</button>
    </form>

    <% } else { %>
    <!-- Default Text -->
    <h3>Nothing To Do Yet</h3>
    <% } %>
</div>

<!-- jquery script -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script>
    $(document).ready(function () {
        $(".strikethrough-text").click(function () {
            $(this).toggleClass("completed");
        });
    });
</script>

<!-- Include the footer partial -->
<%- include("partials/footer.ejs") %>
